<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>REACTJS</title>
    <script src="react/react.js"></script>
    <script src="react/react-dom.js"></script>
    <script src="react/browser.min.js"></script>
    <script src="jquery-3.1.0.min.js"></script>
    <!--  https://unpkg.com/babel-core@5.8.38/browser.min.js -->
    <script type="text/javascript">
      $(document).ready(function(){
        $('#btnGetInfo').click(function(){
          $.get('/info', function(data){
            alert(data);
          });
        });

        $('#btnGetInfo2').click(function(){
          $.post('/abcd',{ten: 'Khoa', tuoi: 30} ,function(data){
            alert(data);
          });
        });

      });
    </script>

    <style>
      .div-note{
        background-color: yellow;
        border: solid 3px green;
        padding: 5px;
        margin: 5px;
      }
    </style>
  </head>
  <body>
    <button id="btnGetInfo">Lay thong tin</button>
    <button id="btnGetInfo2">Lay thong tin</button>
    <div id="root2"></div>
    <div id="root"></div>
    <script type="text/babel" src="bai1.js">

    </script>
  </body>
</html>
