<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>REACTJS</title>
    <script src="react/react.js"></script>
    <script src="react/react-dom.js"></script>
    <script src="react/browser.min.js"></script>
    <!--  https://unpkg.com/babel-core@5.8.38/browser.min.js -->
    <style>
      .div-note{
        background-color: yellow;
        border: solid 3px green;
        padding: 5px;
        margin: 5px;
      }
    </style>
  </head>
  <body>
    <div id="root2"></div>
    <div id="root"></div>
    <script type="text/babel" src="bai1.js">

    </script>
  </body>
</html>
